[submodule ".config/helix/themes"]
	path = .config/helix/themes
	url = https://github.com/0rphee/my-helix-themes.git
[submodule ".config/kak"]
	path = .config/kak
	url = git@github.com:0rphee/kak-config.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
