!.config/zed/settings.json
!Library/LaunchAgents
.antigravity-ide
.bash_history
.cache/
.cargo/
.CFUserTextEncoding
.claude
.claude.json
.conda/
.config/btop
.config/btop/btop.log
.config/cabal
.config/dark-mode-notify/dark-mode-notify-stderr.log
.config/dark-mode-notify/dark-mode-notify-stdout.log
.config/dotfiles
.config/gh
.config/ghc/ghci_history
.config/gtk-2.0
.config/helix/runtime
.config/jgit
.config/kitty/themes/current-theme.conf
.config/lazygit/state.yml
.config/nix-darwin/result
.config/nvm
.config/raycast/extensions
.config/spaceship.zsh.zwc
.config/StardewValley
.config/swiftpm
.config/zed/*
.cups/
.dart
.dart-tool
.docker/
.elan
.elm/
.gemini
.ghc-wasm/.cabal
.ghc/
.ghcup/
.gnupg
.gnupg_pre_2.1
.hex
.ipython/
.keras/
.lesshst
.local/bin
.local/share/delta
.local/share/helix/trusted_workspaces
.local/share/mise
.local/share/nix/repl-history
.local/share/purescript
.local/share/StardewValley/DisconnectLogs
.local/state/.keep
.local/state/cabal/store
.local/state/gh
.local/state/home-manager/gcroots
.local/state/mise
.local/state/nix/profiles
.m2/repository
.matplotlib/
.mix
.mongodb/compass
.nix-defexpr
.nix-profile
.node_repl_history
.npm/
.openjfx/
.packettracer
.pub-cache
.python_history
.rustup/
.ssh/
.stack/
.swiftpm/
.Trash
.viminfo
.vscode/
.zcompdump
.zcompdump-*
.zsh_history
.zsh_sessions/
Applications/Home Manager Apps
Cisco Packet Tracer 8.2.2
Desktop/
dev/
Documents/
Downloads/
go/
Library/*
Library/LaunchAgents/com.asmvik.yabai.plist
Library/LaunchAgents/com.koekeishiya.skhd.plist
Library/LaunchAgents/com.koekeishiya.yabai.plist
Library/LaunchAgents/com.valvesoftware.steamclean.plist
Library/LaunchAgents/ke.bou.dark-mode-notify.plist
Movies/
Music/
Pictures/
Public/
Virtual Machines.localized