.config/btop/btop.log
.config/cabal

# .config/dark-mode-notify
.config/dark-mode-notify/dark-mode-notify-stderr.log
.config/dark-mode-notify/dark-mode-notify-stdout.log

# here is the bare repo
.config/dotfiles

.config/gh
.config/ghc/ghci_history
.config/helix/runtime
.config/kitty/themes/current-theme.conf
.config/nix-darwin/result
.config/nvm
.config/spaceship.zsh.zwc
.config/zed/*
!.config/zed/settings.json
.cache/
.cargo/
.conda/
.cups/
.docker/
.elm/
.ghcup/
.ghc/
.gnupg
.gnupg_pre_2.1
.ipython/
.keras/
# .local/
.local/bin
.local/share/delta
.local/share/purescript
.local/state/cabal/store/ghc-9.6.5
.local/state/gh
.local/state/home-manager/gcroots
.local/state/nix/profiles
.matplotlib/
.nix-defexpr
.nix-profile
.npm/
# .oh-my-zsh
.packettracer
.rustup/
.ssh/
.stack/
.swiftpm/
.vscode/
.zsh_sessions/
.zcompdump
Applications/Home Manager Apps
Cisco Packet Tracer 8.2.2
Desktop/
Documents/
Downloads/
Library/*
!Library/LaunchAgents
Movies/
Music/
Pictures/
Public/
dev/
go/
.CFUserTextEncoding
.bash_history
.lesshst
.node_repl_history
# .profile
.python_history
.viminfo
.zcompdump-*
.zsh_history
.config/lazygit/state.yml
.config/btop
Library/LaunchAgents/ke.bou.dark-mode-notify.plist
Library/LaunchAgents/com.koekeishiya.skhd.plist
Library/LaunchAgents/com.koekeishiya.yabai.plist
Library/LaunchAgents/com.valvesoftware.steamclean.plist
.Trash
