* {
  all: unset;
  font-family: "SF Pro Rounded", RecMonoLinear;
  font-size: 16px;
}

box#main {
  background: @background;
  border: 1px solid @launcher_border;
  border-radius: 10px;
  padding: 20px;
  color: @foreground;
}

/* text prompt */
#entry {
  background: @entry_bg;
  border-radius: 16px;
  padding: 10px;

/*  border: 1px solid @entry_border; */
}

#entry selection {
  background: @entry_selection;
}

/* padding of the whole bottom area (below entry box) */
list#main{
  padding: 20px 0px;
}

/* plugin name and icon */
box > box#plugin.horizontal:first-child {
  border-radius: 10px;
  background: @plug_icon_and_label_bg;
  color: @plug_icon_and_label_fg;
  box-shadow: @plug_icon_and_label_shadow 5px 5px;
  padding: 10px;
}

/* margin between each plugin section*/
list#main > row {
  margin: 5px 0px;
}

/* each selectable result*/
#match.activatable {
  border-radius: 10px;
  background: @result_bg;
  margin: 0px 5px 10px 0px; /* 0px;*/
  padding: 7px;
}

#match:selected, #match:hover {
  background: @result_selected_bg; /* rgba(255, 255, 255, .1); */
  color: @result_selected_fg;
  box-shadow: @result_selected_shadow 5px 5px;

/*
  border-bottom: 6px solid @bg_green;
  padding: 7px 7px 1px 7px;
*/

}

/* hovered selectable result */
#match:hover {
  opacity: 0.6;
}

@import "themes/current-theme.css";
