[Desktop Entry]
Type=Application
Version=1.0
Name=Theme change
Comment=Shell scripting utility to change themes
Exec=/home/orphee/.config/hypr/change-theme.sh
Terminal=false
