[Desktop Entry]
Type=Application
Version=1.0
Name=Change theme
Comment=Shell scripting utility to change themes
Exec=/home/orphee/.config/hypr/change-theme.sh
Terminal=true
